<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="coba.ir">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ir"
        android:label="IR"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="coba.splash"
            android:theme="@style/SplashOnly">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="coba.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="coba.about"
            android:label="Referensi"
            android:parentActivityName="coba.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="coba.MainActivity"/>
        </activity>
    </application>

</manifest>